.menu-nav .menu-item {
  display: inline-block;
  position: relative;
}
.menu-nav .menu-item:hover .menu-sub-list {
  display: block;
}
.menu-nav .menu-sub-list {
  position: absolute;
  top: 1em;
  left: 0;
  display: none;
}
.header {
  text-align: center;
}
.header .w-logo {
  display: inline-block;
  line-height: 0;
  margin-top: 1em;
}
.header .logo-img {
  display: inline-block;
  width: 125px;
}
.header .logo-img img {
  display: block;
}
.footer .copyright {
  background-color: base;
  overflow: hidden;
  font-size: 12px;
  height: 4em;
}
.footer .from {
  float: left;
}
.footer .from p {
  margin: 0;
}
.footer .by {
  float: right;
  color: #808080;
}
.footer .by .staffcreativa {
  position: relative;
  padding-right: 0.45em;
  transition: all 0.25s ease;
}
.footer .by .staffcreativa:after {
  content: '\e60e';
  font-family: icomoon;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  right: 0;
  speak: none;
  text-transform: none;
  top: 0.1em;
}
.footer .by a:hover .staffcreativa {
  color: negro;
}
.footer .w-copyright {
  margin-top: 1.5em;
}
.r-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  transition: all 0.65s ease;
}
.w-nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  z-index: 1001;
}
.menu-mobile {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transform: scale(1, 1);
  transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
}
.menu-mobile-close {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transform: scale(0, 0);
  transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
}
.menu-responsive {
  width: 200px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: -200px;
  background: #fff;
  z-index: 1000;
  transition: right 0.45s ease;
}
.menu-responsive .menu-list {
  padding-top: 2em;
}
.menu-responsive .menu-item a {
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
}
.menu-responsive .menu-item a:hover {
  background-color: #808080;
}
.menu-responsive .menu-item .active1 {
  background-color: #808080;
}
.menu-responsive .menu-sub-list {
  display: none;
}
.menu-responsive .menu-sub-list>li>a {
  text-indent: 1em;
}
.active-menu {
  right: 0;
}
.active-overlay {
  z-index: 1000;
  opacity: 0.8;
}
.active-menu-mobile {
  visibility: hidden;
  opacity: 0;
  transform: scale(0, 0);
  transition: all 0.45s cubic-bezier(0.89, 1.5, 0.8, 1.06);
}
.active-menu-mobile-close {
  visibility: visible;
  opacity: 1;
  transform: scale(1, 1);
}
.cnt-wrapper,
.footer {
  position: relative;
  left: 0;
  transition: left 0.45s ease;
}
.active-cnt-wrapper,
.active-footer {
  left: -200px;
}
.body-active {
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }
  .w-nav {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .footer .w-copyright {
    margin: 0;
    padding: 1.5em 0;
  }
  .footer .copyright {
    height: auto;
    text-align: center;
  }
  .footer .copyright .from {
    float: none;
    margin-bottom: 0.4em;
  }
  .footer .copyright .by {
    float: none;
  }
}
